<div class="login-panel">
  <mat-card>
    <mat-card-title>
      <img src="assets/logo/map-icon.png"/>
      MyTrail
    </mat-card-title>

    <form class="form" [formGroup]="loginForm">
      <span>Zaloguj się</span>
      <input
        formControlName="username"
        type="text"
        placeholder="{{ placeholder.username }}"
        name="username"
        id="username"
        class="input"
      />
      <input
        formControlName="password"
        type="password"
        placeholder="{{ placeholder.password }}"
        name="password"
        id="password"
        class="input"
      />
      <button mat-raised-button class="sign-in-btn" (click)="onSubmit()">Zaloguj</button>
      <button mat-button class="sign-up-btn" (click)="onRegister()">Zarejestruj się</button>
    </form>
  </mat-card>
</div>
