.add-employee-btn {
  background-color: #31bbe6;
  color: white;
}

mat-table {
  width: 100%;
  margin-top: 20px;
}

.action-buttons {
  display: flex;
  flex-direction: row;
}

.edit-button {
  color: #31bbe6;
}

@media screen and (max-width: 960px) {
  .action-buttons {
    float: right;
  }
}
