<div class="content" id="content">
  <h2>Zarządzanie pracownikami</h2>

  <button mat-raised-button class="add-employee-btn" (click)="onAddEmployee()">
    Dodaj pracownika
  </button>

  <div class="mat-elevation-z8">
    <mat-table [dataSource]="datasource" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let employee" data-label="id"
          >E/{{ employee.id }}</mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="fullName">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Imię i nazwisko</mat-header-cell
        >
        <mat-cell *matCellDef="let employee" data-label="imię i nazwisko">{{
          employee.fullName
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Email</mat-header-cell
        >
        <mat-cell *matCellDef="let employee" data-label="email">{{
          employee.email
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="drivingEfficiencyFactor">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Współczynnik efektywności jazdy</mat-header-cell
        >
        <mat-cell
          *matCellDef="let employee"
          data-label="współczynnik efektywności jazdy"
        >
          {{ employee.drivingEfficiencyFactor }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="totalTraveledDistanceInKilometers">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Przejechany dystans [km]</mat-header-cell
        >
        <mat-cell *matCellDef="let employee" data-label="przejechany dystans">
          {{ employee.totalTraveledDistanceInKilometers | number: '1.1-2' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Numer telefonu</mat-header-cell
        >
        <mat-cell *matCellDef="let employee" data-label="numer telefonu">
          {{ employee.phoneNumber }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Operacje</mat-header-cell>
        <mat-cell *matCellDef="let employee">
          <div class="action-buttons">
            <button
              mat-icon-button
              class="edit-button"
              [routerLink]="['/editEmployee', employee.id]"
            >
              <i class="material-icons">edit</i>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="openConfirmDialog(employee)"
            >
              <i class="material-icons">delete</i>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
