.add-employee-btn {
  background-color: #31bbe6;
  color: white;
}

table {
  width: 100%;
  margin-top: 20px;
}

.action-buttons {
  display: flex;
  flex-direction: row;
}

.edit-button {
  color: #31bbe6;
}
