.topbar {
  width: 100%;
  padding: 5px 0px;
  align-items: center;
  background-color: #31bbe6;
  display: flex;
  color: white;
  font-size: 20px;
}

.topbar img {
  width: 40px;
  margin-left: 10px;
}

.sidebar-btn, .sidebar-btn:focus {
  display: none;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  margin-left: 20px;
}

.sidebar-btn:hover {
  cursor: pointer;
}

.sign-out-panel {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.sign-out-btn{
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}

.sign-out-btn:hover {
  cursor: pointer;
}

.sign-out-btn i{
  vertical-align: middle;
}

@media screen and (max-width: 800px) {
  .sidebar-btn, .sidebar-btn:focus {
    display: block;
  }
}
