<ion-content no-bounce mode="md">
	<div class="flex-container">
		<div class="flex-child">
			<div>
				<div class="name">
					{{ employeeName }}
				</div>

				<div class="driving-factor">
					{{ drivingFactor }}
				</div>
				<div class="info">
					Samochód <br />
					<i>Skoda Fabia</i> <br />
					Długość geograficzna <br />
					<i>{{ longitude }}</i> <br />
					Szerokość geograficzna <br />
					<i>{{ latitude }}</i>
				</div>
			</div>
		</div>
		<div class="flex-child">
			Lokalizator
			<div class="grid">
				<div class="row">
					<ion-button class="action-btn" (click)="onTrackerStart()"> START </ion-button>
					<ion-button class="action-btn"(click)="onTrackerStop()"> STOP </ion-button>
				</div>
				<div class="row">
					<ion-button class="action-btn"> PAUZA </ion-button>
					<ion-button class="action-btn" (click)="onSignOut()"> WYLOGUJ </ion-button>
				</div>
			</div>
		</div>
	</div>
</ion-content>
