ion-content {
  --background: linear-gradient(
    90deg,
    rgba(43, 90, 148, 1) 0%,
    rgba(45, 112, 229, 1) 35%,
    rgba(45, 112, 229, 1) 100%
  );
  --overflow: hidden;
}

.flex-container {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 15px;
    flex-direction: column;
}

.flex-child {
    border-radius: 10px;
    flex-grow: 1;
    color: white;
    background-color: rgb(66, 127, 232, 0.7);
    text-align: center;
    margin-bottom: 10px;
    padding-top: 5px;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
    justify-content: center;
    padding: 3px;
    align-items: center;
}

.action-btn {
    width: 100%;
    height: 100%;
    padding: 0;
}

.driving-factor {
    height: 100%;
    background-color: red;
    display: block;
}

.info {
    text-align: start;
}

.info p {
    padding: 0;
    margin: 0;
    font-size: 13px;
}

