<ion-content no-bounce>
  <div class="flex-container">
    <div class="flex-child">
      <div>
        Jan Kowalski

        <div class="driving-factor">
          Driving factor
        </div>
  
        <div class="info">
          <p>Samochód: Fiat Ducato</p>
          <p>Długość geograficzna: {{longitude}}</p>
          <p>Szerokość geograficzna: {{latitude}}</p>
        </div>
      </div>
    </div>
    <div class="flex-child">
      Lokalizator
      <div class="grid">
        <div class="row">
          <ion-button color="light" class="action-btn">
            START
          </ion-button>
          <ion-button color="light" class="action-btn">
            STOP
          </ion-button>
        </div>
        <div class="row">
          <ion-button color="light" class="action-btn">
            PAUZA
          </ion-button>
          <ion-button color="light" class="action-btn">
            WYLOGUJ
          </ion-button>
        </div>
      </div>
    </div>
  </div>

  
</ion-content>