ion-content {
  --background: linear-gradient(
    0deg,
    rgba(43, 90, 148, 1) 0%,
    rgba(45, 112, 229, 1) 35%,
    rgba(45, 112, 229, 1) 100%
  );
  --overflow: hidden;
}

.flex-container {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 15px;
    flex-direction: column;
    font-size: 3vh;
}

.flex-child {
    height: 50%;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
}

.action-btn {
    width: 100%;
    height: 100%;
    padding: 0;
    flex-grow: 1;
    margin: 0 2px 0 2px;
    --background: rgb(66, 127, 232);
}

.driving-factor {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 5px solid #2dd36f;
    background-color: white;
    margin: 5px auto;
    font-size: 40px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

