ion-content {
	--padding-top: 20%;
	--background: linear-gradient(
		0deg,
		rgba(43, 90, 148, 1) 0%,
		rgba(45, 112, 229, 1) 35%,
		rgba(45, 112, 229, 1) 100%
	);
	--overflow: hidden;
}

ion-card {
    color: black;
	padding: 10px;
}

.error-card {
	--background: #eb445a;
	color: white;
}

h3 {
	margin-top: 5px;
}

.logo-container {
	height: 20%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 26px;
    justify-content: center;
    font-family: 'Pacifico', cursive;
}

.logo-container img {
    width: 80px;
    margin-left: -10%;
}

.remember-container {
	display: flex;
	align-items: center;
	margin: 10px 0;
}

.remember-container ion-checkbox {
	margin: 0 5px;
}

.spinner {
	z-index: 2;
	position: fixed;
	width: 100%;
	bottom: 50%;
	display: flex;
	justify-content: center;
}

ion-spinner {
	width: 50px;
	height: 50px;
}
