<ion-content no-bounce mode="md">
	<div class="logo-container">
		<img src="assets/logo/map-icon.png" />
		MyTrail
	</div>

	<div class="spinner" *ngIf="loading">
		<ion-spinner color="secondary"></ion-spinner>
	</div>
	<ion-card class="error-card" *ngIf="displayError">
		Nieprawidłowa nazwa użytkownika lub hasło
	</ion-card>
	<ion-card>
		<h3>Zaloguj się</h3>

		<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<ion-input
				id="username"
				formControlName="username"
				[placeholder]="placeholder.username"
				type="text"
			></ion-input>
			<ion-input
				id="password"
				formControlName="password"
				[placeholder]="placeholder.password"
				type="password"
			></ion-input>

			<div class="remember-container">
				<ion-checkbox
					formControlName="rememberCheckbox"
					color="secondary"
				></ion-checkbox>
				<ion-label>Zapamiętaj mnie</ion-label>
			</div>

			<ion-button
				color="secondary"
				expand="block"
				type="submit"
				[disabled]="!loginForm.valid"
				>Zaloguj</ion-button
			>
		</form>
	</ion-card>
</ion-content>
