<div class="content wide-table" id="content">
  <h2>Zarządzanie flotą</h2>
  <button mat-raised-button class="add-vehicle-btn" (click)="onAddVehicle()">
    Dodaj pojazd
  </button>

  <div class="mat-elevation-z8">
    <mat-table [dataSource]="datasource" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let vehicle" data-label="id">
          <a [routerLink]="['/vehicleDetails', vehicle.id]">
            F/{{ vehicle.id }}
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="make">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Marka</mat-header-cell
        >
        <mat-cell *matCellDef="let vehicle" data-label="marka">{{
          vehicle.make
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="vehicleModel">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Model</mat-header-cell
        >
        <mat-cell *matCellDef="let vehicle" data-label="model">{{
          vehicle.vehicleModel
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="yearOfManufacture">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Rok produkcji</mat-header-cell
        >
        <mat-cell *matCellDef="let vehicle" data-label="rok produkcji">
          {{ vehicle.yearOfManufacture }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="licencePlate">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Numer rejestracyjny</mat-header-cell
        >
        <mat-cell *matCellDef="let vehicle" data-label="numer rejestracyjny">{{
          vehicle.licencePlate
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="estimatedMileage">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Estymowany przebieg [km]</mat-header-cell
        >
        <mat-cell
          *matCellDef="let vehicle"
          data-label="estymowany przebieg [km]"
          >{{ vehicle.estimatedMileage | number: '1.1-2'}}</mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="currentUser">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Obecny użytkownik
        </mat-header-cell>
        <mat-cell *matCellDef="let vehicle" data-label="obecny użytkownik">{{
          vehicle.currentVehicleUser == undefined
            ? "-----"
            : vehicle.currentVehicleUser
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Operacje</mat-header-cell>
        <mat-cell *matCellDef="let vehicle">
          <div class="action-buttons">
            <button
              mat-icon-button
              class="edit-button"
              [routerLink]="['/editVehicle', vehicle.id]"
            >
              <i class="material-icons">edit</i>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="openConfirmDialog(vehicle)"
            >
              <i class="material-icons">delete</i>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
