<div class="content" id="content">
  <h2>Strona główna</h2>

  <div class="charts-parent">
    <div class="charts-row">
      <div class="chart">
        <app-driving-factor-chart></app-driving-factor-chart>
      </div>
      <div class="chart">
        <app-traveled-distance-chart></app-traveled-distance-chart>
      </div>
    </div>
    <div class="charts-row">
      <div class="chart">
        <app-work-time-chart></app-work-time-chart>
      </div>
      <div class="chart">

      </div>
    </div>
  </div>
</div>
