<div class="sidebar">

  <div class="logo-container">
    <img src="assets/logo/logo.png" class="logo"/>
    <div>
      <span class="logo-text">MeTrail</span>
    </div>
  </div>

  <div class="nav-buttons">
    <a routerLink="/home" routerLinkActive="active">Strona główna</a>
    <a routerLink="/tracking" routerLinkActive="active">Monitoring pracowników</a>
    <a routerLink="/test" routerLinkActive="active">Zarządzanie pracownikami</a>
    <a routerLink="/test" routerLinkActive="active">Podstrona 4</a>
  </div>
</div>
