.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color:#ffffff;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 15px;
  box-shadow: 2px gray;
  -webkit-transition: 0.2s ease-in-out;
}

/* Sidebar links */
.sidebar a {
  display: inline-block;
  width: 100%;
  padding: 16px 20px;
  color: #515253;
  text-decoration: none;
  flex-grow: 1;
}

.sidebar a i {
  vertical-align: middle;
}

.sidebar a.active {
  color: #32bce6;
  border-left: 3px solid #32bce6;
}

.account-panel {
  padding-top: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}

.account-panel img{
  width:50%;
}

.navigation {
  font-size: 14px;
  margin-left: 20px;
  color: gray
}


@media screen and (max-width: 800px) {
  .sidebar {
    margin-left: -250px;
  }
}
