.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #3b8ea5;
  position: fixed;
  height: 100%;
  overflow: auto;
  color: white;
}

/* Sidebar links */
.sidebar a {
  display: block;
  padding: 16px;
  text-decoration: none;
  text-align: center;
  color: white;
}

.active {
  background-color: #4297ae;
  font-weight: bold;
}

.logo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.logo-text {
  font-size: 30px;
  font-family: "Pacifico", cursive;
}

@media screen and (max-width: 900px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    text-align: center;
    float: none;
  }

  .content {
    margin-left: 0;
  }

  .logo {
    width: 60px;
    margin: 0;
  }
  .logo-container {
    padding: 10px 0;
    flex-direction: row;
    justify-content: center;
  }

  .nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

}

@media screen and (max-width: 660px) {
  .nav-buttons {
    flex-direction: column;
  }
}
