<div class="sidebar" id="sidebar" *ngIf="currentUser">

  <div class="account-panel">

    <div>
      <img src="assets/logo/avatar.webp">
    </div>
    <div>
      Jan Kowalski
    </div>

  </div>

  <span class="navigation">Nawigacja</span>
  <div class="nav-buttons">
    <a routerLink="/home" routerLinkActive="active">
      <i class="material-icons">home</i>
      Strona główna
    </a>
    <a routerLink="/tracking" routerLinkActive="active">
      <i class="material-icons">search</i>
      Monitoring pracowników
    </a>
    <a routerLink="/vehicleManagement" routerLinkActive="active">
      <i class="material-icons">directions_car</i>
      Zarządzanie flotą
    </a>
    <a routerLink="/employeeManagement" routerLinkActive="active">
      <i class="material-icons">assignment_ind</i>
      Zarządzanie pracownikami
    </a>
  </div>
</div>
