.tracker-container {
  display: flex;
  flex-direction: row;
}

.forms {
  display: flex;
  flex-direction: row;
}

.forms button {
  background-color: #31bbe6;
  color: white;
  height: 60px;
}

.forms button:disabled {
  background-color: #93bbc7;
}

.forms div {
  margin-right: 10px;
}

agm-map {
  height: 500px;
  flex-grow: 8;
}

.tracker-info {
  flex-grow: 1;
  margin-left: 10px;
}

mat-tab-header {
  justify-content: center;
}

.pill {
  width: 20px;
  height: 5px;
  display: inline-block;
  margin-bottom: 2px;
}

.blue-pill {
  background-color: #0000ff;
}

.green-pill {
  background-color: #55c363;
}

@media screen and (max-width: 1100px) {
  .tracker-container {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }

  .tracker-info {
    width: 70%;
    margin: 10px auto 10px auto;
  }

  agm-map {
    order: 1;
  }

  .forms button {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .forms {
    flex-direction: column;
    margin-right: 0;
  }

  mat-form-field {
    width: 100%;
  }

  .tracker-info {
    width: 70%;
  }
}
