<div class="content" id="content">
  <h2>Monitoring pracowników</h2>

  <div class="forms">
    <div>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Pracownik</mat-label>
        <mat-select multiple (selectionChange)="onEmployeeChange($event.value)">
          <mat-option *ngFor="let employee of employees" [value]="employee" [disabled]="chosenEmployees.length > 1 && !chosenEmployees.includes(employee)">
            {{ employee.fullName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Data</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          (dateChange)="onDateChange($event.value)"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button (click)="onSubmit()" [disabled]="chosenDate === undefined || chosenEmployees.length === 0">
        <i class="material-icons">search</i>
      </button>
    </div>
  </div>

  <div class="tracker-container">
    <agm-map
      [zoom]="13"
      [latitude]="initialLatitude"
      [longitude]="initialLongitude"
      *ngIf="!loaded"
    >
    </agm-map>

    <agm-map
      [zoom]="13"
      [latitude]="pointsA[0].latitude"
      [longitude]="pointsA[0].longitude"
      *ngIf="loaded"
    >
      <agm-marker
        *ngFor="let point of pointsA; index as i"
        [latitude]="point.latitude"
        [longitude]="point.longitude"
        [iconUrl]="getIconUrl(i, 'A')"
        (mouseOver)="onMouseOver(infoWindow)"
        (mouseOut)="onMouseOut(infoWindow)"
      >
        <agm-info-window [disableAutoPan]="false" #infoWindow>
          <p>Data: {{ point.date }}</p>
          <p>Czas: {{ point.time }}</p>
          <p>Dł. geograficzna: {{ point.longitude }}</p>
          <p>Szer. geograficzna: {{ point.latitude }}</p>
          <p>Prędkość: {{ point.speed | number: '1.1-2'}} km/h</p>
        </agm-info-window>
      </agm-marker>

      <agm-polyline
        [visible]="true"
        [strokeWeight]="3"
        [strokeColor]="'#0000ff'"
      >
        <agm-polyline-point
          *ngFor="let point of pointsA"
          [latitude]="point.latitude"
          [longitude]="point.longitude"
        >
        </agm-polyline-point>
      </agm-polyline>

      <agm-marker
        *ngFor="let point of pointsB; index as i"
        [latitude]="point.latitude"
        [longitude]="point.longitude"
        [iconUrl]="getIconUrl(i, 'B')"
        (mouseOver)="onMouseOver(infoWindow)"
        (mouseOut)="onMouseOut(infoWindow)"
      >
        <agm-info-window [disableAutoPan]="false" #infoWindow>
          <p>Data: {{ point.date }}</p>
          <p>Czas: {{ point.time }}</p>
          <p>Dł. geograficzna: {{ point.longitude }}</p>
          <p>Szer. geograficzna: {{ point.latitude }}</p>
          <p>Prędkość: {{ point.speed | number: '1.1-2'}} km/h</p>
        </agm-info-window>
      </agm-marker>

      <agm-polyline
        *ngIf="chosenEmployees.length>1"
        [visible]="true"
        [strokeWeight]="3"
        [strokeColor]="'#55c363'"
      >
        <agm-polyline-point
          *ngFor="let point of pointsB"
          [latitude]="point.latitude"
          [longitude]="point.longitude"
        >
        </agm-polyline-point>
      </agm-polyline>

    </agm-map>

    <div class="tracker-info">
      <mat-expansion-panel *ngIf="loaded">
        <mat-expansion-panel-header>
          <h3>Statystyki</h3>
        </mat-expansion-panel-header>
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="{{chosenEmployees[0].fullName}}">
            <p><b>Kolor linii: <div class="pill blue-pill"></div></b></p>
            <p><b>Email pracownika:</b> {{ chosenEmployees[0]?.email }}</p>
            <p><b>Data:</b> {{ chosenDate }}</p>
            <p>
              <b>Współczynnik efektywności jazdy:</b>
              {{ chosenEmployees[0]?.drivingEfficiencyFactor }}
            </p>
            <p><b>Przebyty dystans:</b> {{employeeStats[0]?.traveledDistance}} km</p>
            <p><b>Średnia prędkość:</b> {{employeeStats[0]?.averageVelocity}} km/h</p>
            <p><b>Maksymalna prędkość:</b> {{employeeStats[0]?.maxVelocity}} km/h</p>
            <p><b>Czas rozpoczęcia pracy:</b> {{employeeStats[0]?.startWorkTime}} </p>
            <p><b>Czas zakończenia pracy:</b> {{employeeStats[0]?.endWorkTime}} </p>
            <p><b>Czas pracy:</b> {{employeeStats[0]?.workTimeInHours}} h</p>
          </mat-tab>
          <mat-tab *ngIf="statsCounter > 1" label="{{chosenEmployees[1]?.fullName}}">
            <p><b>Kolor linii: </b><span class="pill green-pill"></span></p>
            <p><b>Email pracownika:</b> {{ chosenEmployees[1]?.email }}</p>
            <p><b>Data:</b> {{ chosenDate }}</p>
            <p>
              <b>Współczynnik efektywności jazdy:</b>
              {{ chosenEmployees[1]?.drivingEfficiencyFactor }}
            </p>
            <p><b>Przebyty dystans:</b> {{employeeStats[1]?.traveledDistance}} km</p>
            <p><b>Średnia prędkość:</b> {{employeeStats[1]?.averageVelocity}} km/h</p>
            <p><b>Maksymalna prędkość:</b> {{employeeStats[1]?.maxVelocity}} km/h</p>
            <p><b>Czas rozpoczęcia pracy:</b> {{employeeStats[1]?.startWorkTime}} </p>
            <p><b>Czas zakończenia pracy:</b> {{employeeStats[1]?.endWorkTime}} </p>
            <p><b>Czas pracy:</b> {{employeeStats[1]?.workTimeInHours}} h</p>
          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>
    </div>
  </div>
</div>
