.forms {
  display: flex;
  flex-direction: row;
}

.forms > div {
  margin-right: 20px;
}

agm-map {
  height: 550px;
}

@media screen and (max-width: 900px) {
  .content {
    margin-left: 0;
  }

  .forms {
    justify-content: space-around;
  }
}

@media screen and (max-width: 660px) {
  .forms {
    flex-direction: column;
  }

  .forms > div {
    margin-right: 0;
  }

  .form-field {
    width: 100%;
  }
}
