.tracker-container {
  display: flex;
  flex-direction: row;
}

.forms {
  display: flex;
  flex-direction: row;
}

.forms div {
  margin-right: 10px;
}

agm-map {
  height: 500px;
  flex-grow: 8;
}

.tracker-info {
  flex-grow: 1;
  margin-left: 10px;
}

@media screen and (max-width: 1100px) {
  .tracker-container {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }

  .tracker-info {
    width: 50%;
    margin: 0px auto 10px auto;
  }

  agm-map {
    order: 1;
  }
}

@media screen and (max-width: 800px) {
  .forms {
    flex-direction: column;
    margin-right: 0;
  }

  mat-form-field {
    width: 100%;
  }

  .tracker-info {
    width: 70%;
  }
}
