.forms {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

agm-map {
  height: 500px;
}

@media screen and (max-width: 800px) {
  .forms {
    flex-direction: column;
  }

  mat-form-field {
    width: 100%;
  }
}
