html, body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  background-color: #f5f7fa;
}

.content {
  margin-left: 250px;
  padding: 0px 20px;
}

@media screen and (max-width: 800px) {
  .content {
    margin-left: 0px;
    padding: 0px 20px;
  }
}

@media screen and (max-width: 960px) {
  mat-header-row {
    flex-direction: column;
    align-items: flex-start !important;
    min-height: unset !important;
  }

  mat-header-cell {
    padding: 0 0 0 20px !important;
    min-height: 35px !important;
    height: 35px;
  }

  mat-table {
    border: 0;
    vertical-align: middle;
  }

  mat-table caption {
    font-size: 1em;
  }

  mat-table mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }

  mat-table mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
    font-weight: bold;
    height: 30px;
    margin-bottom: 4%;
  }

  mat-table mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.85em;
  }

  mat-table mat-cell:last-child {
    border-bottom: 0;
  }

  mat-table mat-cell:first-child {
    margin-top: 4%;
  }

  mat-row {
    min-height: unset !important;
  }

  mat-cell {
    padding: 0 20px;
  }
}

