html, body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  background-color: #f5f7fa;
}

.content {
  margin-left: 250px;
  padding: 20px 250px 20px 20px;
}

@media screen and (max-width: 800px) {
  .content {
    margin-left: 0px;
    padding: 20px;
  }
}
